<?xml version="1.0"?>
<!--
/**
 * Copyright © Klizer. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Klizer_AiCommerceAssistant::analytics"
                          title="AI Commerce Assistant"
                          sortOrder="75">
                    <resource id="Klizer_AiCommerceAssistant::analytics_dashboard"
                              title="Search ROI Dashboard"
                              sortOrder="10"/>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Klizer_AiCommerceAssistant::config"
                                      title="AI Commerce Assistant"
                                      sortOrder="95"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
