<?xml version="1.0"?>
<!--
/**
 * Copyright © Klizer. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <aicommerceassistant>
            <general>
                <enabled>1</enabled>
                <api_base_url>http://127.0.0.1:3001</api_base_url>
                <timeout>90</timeout>
                <redirect_catalog_search>0</redirect_catalog_search>
                <assistant_url>http://localhost:5173/ai-assistant</assistant_url>
                <customer_id_hmac_secret></customer_id_hmac_secret>
                <customer_id_token_ttl>3600</customer_id_token_ttl>
            </general>
            <analytics>
                <enabled>1</enabled>
                <dashboard_url>http://localhost:5173/analytics</dashboard_url>
                <window_days>30</window_days>
            </analytics>
        </aicommerceassistant>
    </default>
</config>
